<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <style>
        body { font-family: Arial, sans-serif; padding: 20px; }
        h1 { color: #333; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: right; }
        th { background-color: #f2f2f2; }
        a { color: #007bff; text-decoration: none; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
     <h1>Book List</h1>
    <a href="/">Back to Home Page</a>
    {% if books %}
    <table>
        <thead>
            <tr>
                <th>Address</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Published_date</th>
                <th>Available copies</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.published_date }}</td>
                <td>{{ book.copies_available }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>NO books available.</p>
    {% endif %}
</body>
</html>